<img src="/images/baselogo.png" alt="Book Tracker Logo" width="100" height="50" class="small-logo">
<h1>Edit a Post</h1>
<form action="/posts/<%=@post.id%>" method="POST">
<input id="hidden" type="hidden" name="_method" value="patch">
<h3>What would you like to change?</h3>
<p>
<label>Title:</label></br>
<input type="text" id="title" name="title" value="<%=@post.title%>"></br>
<label>Author:</label></br>
<input type="text" id="author" name="author" value="<%=@post.author%>"></br>
<label>Genre:</label></br>
<input type="text" id="genre" name="genre" value="<%=@post.genre%>"></br>
<label>Description:</label></br>
<input type="text" id="description" name="description" value="<%=@post.description%>"></br>
<label>Review:</label></br>
<input type="text" id="review" name="review" value="<%=@post.review%>"></br>
</p>
  <input type="submit" value="submit">
</form>

<h3><a href="/posts">Back to your list</a><br></h3>  
