<img src="/images/baselogo.png" alt="Book Tracker Logo" width="100" height="50" class="small-logo">

<h1><a href="/posts/new">New Entry</a></h1>

<hr style="height:1px;border-width:0;color:black;background-color:black">

<h1>Your reading goal is <%=current_user.goal%>. You have currently read <%=current_user.posts.count%>. <h1>
<h4>You need to read <%=(current_user.goal)-(current_user.posts.count)%> more.<h4>

<hr style="height:.5px;border-width:0;color:black;background-color:black">

<h1>The books you have read: </h1>
<ol>
<% @posts.each do |post| %>
    <li><a href="/posts/<%=post.id%>"> <%=post.title%></a></li>
    <% end %>
</ol>
