<img src="/images/baselogo.png" alt="Book Tracker Logo" width="100" height="50" class="small-logo">
<h1>You Read:</h1><br>
    <h2><%= @post.title%></h2>
    <h3>By: <%= @post.author%></h2>
    <h3>Genre: <%= @post.genre%></h2>
        <p><%= @post.description%></p>
        <p><%= @post.review%></p>


        
<h4>Erase this post</h4>
<form method="POST" action="/posts/<%= @post.id %>">
<input type="hidden" id="hidden" name="_method" value="DELETE">
<input type="submit" value="Erase">
</form>
<a href="/posts/<%=@post.id%>/edit">Edit this post</a><br>
<a href="/posts">Back to your list</a>
